* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*variáveis globais para o arquivo CSS*/
:root {
    --cor-fundo: #f1f1f1;
    --cor-primaria:#008be7;
    --cor-secundaria: #8E75B2;
    --cor-texto: #333333;
    --cor-branco: #ffffff;

    /*elementos*/
    --cor-bordas: #ccc;
    --border-radius: 10px;
    --cor-select: rgba(0, 123, 255, 0.15);
    /*font-size: 16px*/
}

/*estilo geral da página*/
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--cor-texto);

    background-color: var(--cor-fundo);
}

header {
    background-color: var(--cor-primaria);
    color: var(--cor-branco);
    opacity: 0.9;

    padding: 20px;
    font-weight: 300;
}

header p {
    margin-top: 5px;
    font-weight: 300;
    opacity: 0.9;
}

/*implementação flexbox*/
main {
    display: flex;
    max-width: 1200px;
    margin: 30px auto;
    gap: 20px; /*vão entre barra e também entre os textos*/
    padding: 0 20px;
}

.configuracoes {
    flex: 1;
    background-color: var(--cor-branco);
    padding: 20px;
    border-radius: var(--border-radius);
    box-shadow: 0 4px 6px rgba(0,0,0,0.05);
}

/*responsividade*/
@media (max-width: 768px) {
    main {
        flex-direction: column;
    }
}

/*BOX RASCUNHOS*/
.input {
    flex: 3;
    background-color: var(--cor-branco);
    padding: 20px;
    border-radius: var(--border-radius);
    box-shadow: 0 4px 6px rgba(0,0,0,0.05);
}

textarea {

    width: 100%;
    padding: 15px;
    margin-top: 15px;
    resize: none;

    border: 1px solid var(--cor-bordas);
    border-radius: var(--border-radius);
    outline: none;

    font-family: inherit; /*isso força o elemento a herdar a fonte do elemento pai*/

}

.utilitarios {
    display: flex;
    justify-content: flex-end;
    margin-top: 5px;
    font-size: 0.9em;

    gap: 12px;

    color: var(--cor-bordas)
}

/*Box ajustes*/
.grupo-tom {
    display: flex;
    flex-direction: column;

    gap: 8px;
    margin-bottom: 20px;
    margin-top: 15px;
}

select {
    width: 100%;
    padding: 12px;

    border: 1px solid var(--cor-bordas);
    border-radius: var(--border-radius);

    font-family: inherit;
    font-size: 1rem;
    outline: none;

    cursor: pointer;
}

select:focus {
    border-color: var(--cor-bordas);
    box-shadow: 0 0 0 4px var(--cor-select);
}

button {
    width: 100%;
    padding: 12px;
    margin-top: 12px;
    
    border-radius: var(--border-radius);
    border: 1px solid var(--cor-bordas);
    background-color: var(--cor-branco);

    transition: all 0.4s ease;
    
    cursor: pointer;
}

button:hover {
    background-color: var(--cor-select);
    
}

.texto-apoio {
    color: #555555;
}

/*botão gerar (principal)*/
.btn-principal {
    padding: 20px;

    border: 2px solid transparent;
    border-radius: var(--border-radius);

    background:
        linear-gradient(var(--cor-branco), var(--cor-branco)) padding-box,
        linear-gradient(90deg, #008be7, #00d0df) border-box;
}

.btn-principal:hover {
    color: var(--cor-branco);
    background:
        linear-gradient(var(--cor-select), var(--cor-select)) padding-box,
        linear-gradient(90deg, #008be7, #00d0df) border-box;
}