* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*variáveis globais para o arquivo CSS*/
:root {
    --cor-fundo: #f1f1f1;
    --cor-primaria:#005571;
    --cor-secundaria: #8E75B2;
    --cor-texto: #333333;
    --cor-branco: #ffffff;
}

/*estilo geral da página*/
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--cor-texto);

    background-color: var(--cor-fundo);
}

header {
    background-color: var(--cor-primaria);
    color: var(--cor-branco);
    opacity: 0.9;

    padding: 20px;
    font-weight: 300;
}

header p {
    margin-top: 5px;
    font-weight: 300;
    opacity: 0.9;
}

/*implementação flexbox*/
main {
    display: flex;
    max-width: 1200px;
    margin: 30px auto;
    gap: 20px; /*vão entre barra e também entre os textos*/
    padding: 0 20px;
}

.configuracoes {
    flex: 1;
    background-color: var(--cor-branco);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.05);
}

.input {
    flex: 3;
    background-color: var(--cor-branco);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.05);
}

/*responsividade*/
@media (max-width: 768px) {
    main {
        flex-direction: column;
    }
}